.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .cat-svg {
        width: 100px;
        height: 100px;
        transition: transform 1s ease-in-out;
        animation: zoom 2s infinite alternate;
    }

    @keyframes zoom {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }
}
