.menu {
    margin-top: 3em;
    margin-left:10em;
    margin-right:10em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    .logo {
        width: 60px;
    }
}
