.list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    .item {
        color: $lightpurple;
   
        transition: color 0.3s;

        &:hover {
            color: $textPrimary;
           
        }

        .link--active.active {
            color: $textPrimary;
           
        }
    }
}
