$white:#FFFFFF;
$background:#FCFCFC;
$lightpurple:#b1b1e4;
$purple:#dcdeff;
$purpleSecondary:#8a91f0;
$darkpurple:#454a95;

$pink:#FFA18E;
$green:#D2FFBF;

$textPrimary:#222022;
$textSecondary:#5a5a5a;
$textTerciary:#a1a1c2;

