$white:#FFFFFF;
$background:#f1f1ff;
$lightpurple:#7a7a9a;
$purple:#dcdeff;
$purpleSecondary:#8a91f0;
$blue:#C3EEEC;
$blueSecondary:#269E99;
$pink:#FFA794;
$pinkSecondary:#EB6E53;
$yellow:#FFD698;
$yellowSecondary:#EBA031;
$textPrimary:#222022;
$textSecondary:#5a5a5a;
$textTerciary:#a1a1c2;

