$white:#FFFFFF;
$background:#FFFAF7;
$purple:#D8DAFF;
$purpleSecondary:#6D73DB;
$blue:#C3EEEC;
$blueSecondary:#269E99;
$pink:#FFA794;
$pinkSecondary:#EB6E53;
$yellow:#FFD698;
$yellowSecondary:#EBA031;
$textPrimary:#313235;
$textSecondary:#6A7175;