html {
  --cursor-color: #dcdeff;
}


body {
  background-color: background;
  // background: linear-gradient(159deg, $white,  $purple, $purpleSecondary);
  // background-size: 180% 180%;
  // animation: gradient-animation 18ss ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

footer {
  width: 100%;
  justify-content: center;
  margin-bottom: 3em;
}
