button,input,li,span,a,h5,p,h2,h4,h6{
    font-family: 'Space Grotesk', sans-serif;
}

h1,h3{
    font-family: 'Americana', sans-serif;
}

h1{
    font-size:48px;
    font-weight: 400;
    color:$textPrimary;
}
h2{
    font-size:24px;
    line-height: 35px;
    font-weight: 600;
    color:$textPrimary;
}
h3{
    font-size:24px;
    line-height: 35px;
    color:$textPrimary;
}
h4{
    color: $textSecondary;
}
h5{
    font-size:24px;
}

h6{
    font-size:18px;
    color: $textSecondary;
    letter-spacing: 0.1em;
}
a{
    font-size:16px;
    color: inherit;
}
p{
    color:$textPrimary;
    font-size: 17px;
    font-weight: 400;
    line-height: 120%;
}

span{
    font-size: 16px;
}

@media screen and (max-width: 700px) {
    h1{
        font-size:28px;
    }
    h2{
        font-size:18px;
       
    }
    h3{
        font-size:20px;
       
    }
    

}