button,input,li,span,a,h5{
    font-family: 'Space Grotesk', sans-serif;
}

p,h1,h2,h3,h4{
    font-family: 'PT Sans', sans-serif;
}

h1{
    font-size:48px;
    font-weight: 600;
    color:$textPrimary;
}
h2{
    font-size:16px;
    line-height: 35px;
    color:$textSecondary;
}
a{
    font-size:16px;
    color: inherit;
}
p{
    color:$textPrimary;
    font-size: 16px;
    font-weight: 200;
}

@media screen and (max-width: 700px) {
    h1{
        font-size:30px;
    }
    

}