.about {
  
    margin-top: 10em;
    

    .rectangle {
        fill: $purple;
    }

    &__article--1{
        margin-left: 20em;
        margin-right:120px;

    }
    &__article--2 {
        background-color: $blue;
        width: 100%;
        padding: 20px;
        margin-right:120px;
     

        .title {
            color: $blueSecondary;
            margin-top:50px;
            margin-bottom:50px;
            margin-left:8em;
            
        }

        .listAbout {
            margin-left:20em;
            margin-right:100px;

            &__item {
                margin-bottom: 70px;
                &--1 {
                    
                }
                &--2 {
                   
                }
                &--3 {
                    
                }
            }
        }
    }

    // .contact{
    //     width: 100%;
    //     justify-content: center;
    //     display: flex;
    // }
}
