.project{
    margin-top:10em;
    padding-left:10em;
    padding-right:10em;
    width: 100%;

    &__banner{
        border-radius:10px;
        width: 100%;
        
    }
}



@media (max-width: 1000px) {
    .project{
        margin-top:3rem;
        margin-left:10rem;
        width: 50%;
        &__banner{
            border-radius:10px;
            width: 100%;
            
        }
    }
  }

