.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    height:30vh;
    align-items: center;
    justify-content: center;
    gap:2em;

    &__list {
        display: flex;
        justify-content: center;
        margin-left: 30px;

        .links {
            align-items: center;
            margin-right: 30px;

            .link {
                display: flex;
                align-items: center;

                .link__type {
                    font-size: 14px;
                }

                .icon {
                    margin-right: 10px;
                }

                &:hover {
                    /* Add your hover styles here */
                    color: $lightpurple; /* Change the color to your desired hover effect */
                    /* Add any other styles you want for the hover effect */
                }
                transition: color 0.3s ease;
            }
        }
    }
}
