.elem {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    

    :hover {
        cursor: pointer;
    }

    .image__container {
        position: relative;
        width: 80%; /* Adjust to your desired width */
        height: 80%; /* Adjust to your desired height */
        margin-top: 1em;
        border-radius: 11px;
        overflow: hidden;
      }
      
      &__a {
        display: block;
        width: 100%;
        height: 100%;
        transition: transform 2s;
      }
      
      .image {
        width: 100%;
        height: 100%;
        background-image: url('your-image.jpg'); /* Replace with your image URL */
        background-size: cover;
        background-position: center;
      }
      
      &__a:hover {
        transform: scale(1.05); /* Adjust the scale factor as needed */
      }

    &__titles {
     
        margin-top: 1.06em;
        display: flex;
        flex-direction: column;
        gap:16px;
       
    }

    &__description {
    
        
    }
}

@media screen and (max-width: 700px) {
}