@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button, input, li, span, a, h5, p, h2, h4 {
  font-family: "Space Grotesk", sans-serif;
}

h1, h3 {
  font-family: "Americana", sans-serif;
}

h1 {
  font-size: 52px;
  font-weight: 400;
  color: #313235;
}

h2 {
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
  color: #313235;
}

h3 {
  font-size: 24px;
  line-height: 35px;
  color: #313235;
}

h4 {
  color: #6A7175;
}

a {
  font-size: 16px;
  color: inherit;
}

p {
  color: #313235;
  font-size: 16px;
  font-weight: 400;
}

span {
  font-size: 18px;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 30px;
  }
}
body {
  background: linear-gradient(159deg, #e7e7f4, #d9d9f1, #9c9cea);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
footer {
  width: 100%;
  justify-content: center;
  margin-bottom: 3em;
}

.about {
  margin-top: 10em;
}
.about .rectangle {
  fill: #D8DAFF;
}
.about__article--1 {
  margin-left: 20em;
  margin-right: 120px;
}
.about__article--2 {
  background-color: #C3EEEC;
  width: 100%;
  padding: 20px;
  margin-right: 120px;
}
.about__article--2 .title {
  color: #269E99;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 8em;
}
.about__article--2 .listAbout {
  margin-left: 20em;
  margin-right: 100px;
}
.about__article--2 .listAbout__item {
  margin-bottom: 70px;
}
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home__article {
  margin-left: 10em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 12em;
  height: 80vh;
}
.home__article--subtitle {
  color: #7a7a9a;
  font-weight: 600;
}
.home__article--title {
  margin-top: 0.3em;
  line-height: 160%;
}
.home .design__container {
  padding-left: 10em;
  padding-right: 10em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10em;
}
.home .design__container .elem:nth-child(1), .home .design__container .elem:nth-child(3), .home .design__container .elem:nth-child(5) {
  align-self: flex-start;
}
.home .design__container .elem:nth-child(2), .home .design__container .elem:nth-child(4) {
  flex-direction: row-reverse;
  align-self: flex-end;
}

.design {
  margin-left: 20em;
  margin-top: 10em;
  margin-right: 120px;
}

.elem {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.elem :hover {
  cursor: pointer;
}
.elem .image__container {
  position: relative;
  width: 80%; /* Adjust to your desired width */
  height: 80%; /* Adjust to your desired height */
  margin-top: 1em;
  border-radius: 11px;
  overflow: hidden;
}
.elem__a {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 2s;
}
.elem .image {
  width: 100%;
  height: 100%;
  background-image: url("your-image.jpg"); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
}
.elem__a:hover {
  transform: scale(1.05); /* Adjust the scale factor as needed */
}
.elem__titles {
  margin-top: 1.06em;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.project {
  margin-top: 3rem;
  margin-left: 16rem;
  width: 65%;
}
.project__banner {
  border-radius: 10px;
  width: 100%;
}

@media (max-width: 1000px) {
  .project {
    margin-top: 3rem;
    margin-left: 10rem;
    width: 50%;
  }
  .project__banner {
    border-radius: 10px;
    width: 100%;
  }
}
.artwork {
  margin-left: 20em;
  margin-top: 10em;
  margin-right: 120px;
}

.menu {
  margin-top: 3em;
  margin-left: 10em;
  margin-right: 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.menu .logo {
  width: 60px;
}

.contact {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  justify-content: center;
}
.contact__list {
  display: flex;
  justify-content: center;
  margin-left: 30px;
}
.contact__list .links {
  align-items: center;
  margin-right: 30px;
}
.contact__list .links .link {
  display: flex;
  align-items: center;
}
.contact__list .links .link .icon {
  margin-right: 10px;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.list .item {
  color: #7a7a9a;
  transition: color 0.3s;
}
.list .item:hover {
  color: #313235;
}
.list .item .link--active.active {
  color: #313235;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loader .cat-svg {
  width: 100px;
  height: 100px;
  transition: transform 1s ease-in-out;
  animation: zoom 2s infinite alternate;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.circle {
  width: 30px;
  height: 30px;
  background: radial-gradient(circle, #ff6b6b, #ffb366);
  border-radius: 50%;
  position: absolute;
  pointer-events: none; /* This prevents the circle from capturing mouse events */
  transition: transform 0.1s ease; /* Add a transition for smoother movement */
}

@font-face {
  font-family: SpaceGrotesk, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
}
@font-face {
  font-family: "Americana";
  src: url("/src/assets/Fonts/Americana.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  width: 100%;
}/*# sourceMappingURL=styles.css.map */