@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import './Styles/reset';
@import './Styles/colors';
@import './Styles/types';
@import './Styles/elements';
@import './Components/About/about';
@import './Components/Home/home';
@import './Components/Design/design';
@import './Components/DesignElem/designElem';
@import './Components/Artwork/artwork';
@import './Components/Menu/menu';
@import './Components/Contact/contact';
@import './Components/Menu/Link/links';



@font-face{
    font-family: SpaceGrotesk, sans-serif;
    src:  url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
}
@font-face{
    font-family: 'Montserrat', sans-serif;
    src:  url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}


#app {
    font-family: 'Montserrat', sans-serif;
    font-family: SpaceGrotesk,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    width:100%;
    
  }

 