// Utilities
// @use "./Styles/colors";      
// @use "./Styles/reset";
// @use "./Styles/types";
// @use "./Styles/elements";
@use "./Styles/index" as *;

// Components
@use "./Components/About/about";
@use "./Components/Home/home";
@use "./Components/Design/design";
@use "./Components/DesignElem/designElem";
@use "./Components/DesignDetails/designDetails";
@use "./Components/Artwork/artwork";
@use "./Components/Menu/menu";
@use "./Components/Contact/contact";
@use "./Components/Menu/Link/links";
@use "./Components/Loader/Loader";

@font-face {
    font-family: SpaceGrotesk, sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
}

@font-face {
    font-family: "Recia";
    src: url("/src/assets/Fonts/Recia-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}



#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    width: 100%;
}
html{
  scroll-behavior: smooth;
}
 