@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button, input, li, span, a, h5, p, h2, h4 {
  font-family: "Space Grotesk", sans-serif;
}

h1, h3 {
  font-family: "Americana", sans-serif;
}

h1 {
  font-size: 52px;
  font-weight: 400;
  color: #313235;
}

h2 {
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
  color: #313235;
}

h3 {
  font-size: 24px;
  line-height: 35px;
  color: #313235;
}

h4 {
  color: #6A7175;
}

a {
  font-size: 16px;
  color: inherit;
}

p {
  color: #313235;
  font-size: 16px;
  font-weight: 400;
}

span {
  font-size: 18px;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 18px;
  }
}
html {
  --cursor-color: #7a7a9a;
}

body {
  background: linear-gradient(159deg, #e7e7f4, #d9d9f1, #9c9cea);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
footer {
  width: 100%;
  justify-content: center;
  margin-bottom: 3em;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.about .title {
  font-size: 46px;
}
.about .selfie {
  width: 30%;
}
.about .selfie__image {
  width: 100%;
}
.about__article--1 {
  display: flex;
  flex-direction: row;
  margin-top: 10em;
  padding-left: 10em;
  padding-right: 10em;
  justify-content: space-between;
}
.about__article--1 .content {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 24px;
}
.about__article--1 .paragraph {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about__article--2 {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  padding: 10em;
}
.about__article--2 .listAbout__item {
  margin-bottom: 70px;
}
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home__article {
  padding-left: 10em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 18em;
  height: 80vh;
}
.home__article--subtitle {
  color: #7a7a9a;
  font-weight: 600;
}
.home__article--title {
  margin-top: 0.3em;
  line-height: 160%;
}
.home__article .subtitle__container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}
.home .design__container {
  padding-left: 10em;
  padding-right: 10em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10em;
}
.home .design__container .elem:nth-child(1), .home .design__container .elem:nth-child(3), .home .design__container .elem:nth-child(5) {
  align-self: flex-start;
}
.home .design__container .elem:nth-child(2), .home .design__container .elem:nth-child(4) {
  flex-direction: row-reverse;
  align-self: flex-end;
}
.home .design__container .elem:nth-child(2) .elem__text, .home .design__container .elem:nth-child(4) .elem__text {
  text-align: right;
}

@media screen and (max-width: 780px) {
  .home {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .home__article {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 12em;
    height: 80vh;
  }
  .home__article--subtitle {
    color: #7a7a9a;
    font-weight: 600;
  }
  .home__article--title {
    margin-top: 0.3em;
    line-height: 160%;
  }
  .home__article .subtitle__container {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .home .design__container {
    padding-left: 10em;
    padding-right: 10em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10em;
  }
  .home .design__container .elem:nth-child(1), .home .design__container .elem:nth-child(3), .home .design__container .elem:nth-child(5) {
    align-self: flex-start;
  }
  .home .design__container .elem:nth-child(2), .home .design__container .elem:nth-child(4) {
    flex-direction: row-reverse;
    align-self: flex-end;
  }
  .home .design__container .elem:nth-child(2) .elem__text, .home .design__container .elem:nth-child(4) .elem__text {
    text-align: right;
  }
}
.design {
  margin-left: 20em;
  margin-top: 10em;
  margin-right: 120px;
}

.elem {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.elem :hover {
  cursor: pointer;
}
.elem .image__container {
  width: 80%;
  overflow: hidden;
}
.elem .image__wrapper {
  border-radius: 12px;
  overflow: hidden;
}
.elem .image {
  background-size: cover;
  border-radius: 12px;
  transition: transform 0.4s;
}
.elem .image:hover {
  border-radius: 12px;
  transform: scale(1.02);
}
.elem__text {
  margin-top: 1.06em;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}
.project {
  margin-top: 10em;
  padding-left: 10em;
  padding-right: 10em;
  width: 100%;
}
.project__banner {
  border-radius: 10px;
  width: 100%;
}

@media (max-width: 1000px) {
  .project {
    margin-top: 3rem;
    margin-left: 10rem;
    width: 50%;
  }
  .project__banner {
    border-radius: 10px;
    width: 100%;
  }
}
.artwork {
  margin-left: 20em;
  margin-top: 10em;
  margin-right: 120px;
}

/* Container for the entire menu */
.menu__container {
  position: fixed;
  top: 3em;
  left: 0;
  right: 0;
  padding-left: 10em;
  padding-right: 10em;
  width: 100%;
  z-index: 10;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu .logo {
  width: 60px;
}

@media screen and (max-width: 780px) {
  .menu__container {
    position: fixed;
    top: 3em;
    left: 0;
    right: 0;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    z-index: 10;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .menu .logo {
    width: 40px;
  }
}
.contact {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  justify-content: center;
}
.contact__list {
  display: flex;
  justify-content: center;
  margin-left: 30px;
}
.contact__list .links {
  align-items: center;
  margin-right: 30px;
}
.contact__list .links .link {
  display: flex;
  align-items: center;
}
.contact__list .links .link .icon {
  margin-right: 10px;
}

.menu-web {
  display: block;
}

.menu-mobile {
  display: none;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.list .item {
  color: #7a7a9a;
  transition: color 0.3s;
}
.list .item:hover {
  color: #313235;
}
.list .item .link--active.active {
  color: #313235;
}

.burger-menu {
  display: none;
}

@media screen and (max-width: 780px) {
  .menu-web {
    display: none;
  }
  .menu-mobile {
    display: block;
    position: absolute;
    padding-top: 16px;
    right: 1em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
  }
  .menu-mobile.active {
    max-height: 300px;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;
  }
  .list .item {
    font-size: 14px;
    color: #7a7a9a;
    transition: color 0.3s;
  }
  .list .item:hover {
    color: #313235;
  }
  .list .item .link--active.active {
    color: #313235;
  }
  .burger-menu {
    display: block;
  }
  .burger-menu .line {
    fill: #7a7a9a;
    transition: all 0.3s ease; /* Add a transition for smooth animation */
  }
  /* CSS for active state */
  .burger-menu.active .line:nth-child(1) {
    width: 60%; /* Change width for the first line */
    transform: translateX(20%); /* Move the first line */
  }
  .burger-menu.active .line:nth-child(2) {
    width: 70%;
    transform: translateX(20%);
  }
  .burger-menu.active .line:nth-child(3) {
    width: 100%;
    transform: translateX(-30%);
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loader .cat-svg {
  width: 100px;
  height: 100px;
  transition: transform 1s ease-in-out;
  animation: zoom 2s infinite alternate;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@font-face {
  font-family: SpaceGrotesk, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
}
@font-face {
  font-family: "Americana";
  src: url("/src/assets/Fonts/Americana.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  width: 100%;
}/*# sourceMappingURL=styles.css.map */